<!-- <div class="content-block">
  <mat-card class="mat-theme">
    <mat-card-content>
      Session Title: <p>{{sessionTitle}}</p>
    </mat-card-content>
    <mat-card-content>
      Start Date: <p>{{sessionStartDate | date:'dd/MM/yy h:mm:ss a'}}</p>
    </mat-card-content>
    <mat-card-content>
      End Date: <p>{{sessionEndDate | date:'dd/MM/yy h:mm:ss a'}}</p>
    </mat-card-content>
    <mat-card-content>
      Organizer: <p>{{requestedBy}}</p>
    </mat-card-content>
    <mat-card-content>
      Session Status: <p>{{sessionStatus}}</p>
    </mat-card-content>
  </mat-card>
</div> -->

<!-- <div
  *ngIf="approval.approvalAuthourisedTenant == currentTenantId && sessionStatus[approval.sessionStatus] == SessionStatus[4] &&  ">
  <button type="button" class="btn-icons btn-outline-theme ml-2" matTooltip="Approve" (click)="approve()">
    <mat-icon>check</mat-icon>
  </button>
  <button type="button" class="btn-icons btn-outline-danger ml-2" matTooltip="Reject" (click)="reject()">
    <mat-icon>clear</mat-icon>
  </button>
</div> -->