.uploader {
	display: block;
	clear: both;
	margin: 0 auto;
	width: 100%;
}

.uploader label {
	float: left;
	clear: both;
	width: 100%;
	padding: 2rem 1.5rem;
	text-align: center;
	background: #28303d;
	border-radius: 7px;
	border: 1px solid #eee;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.uploader label:hover {
	border-color: #454cad;
}

.uploader label.hover {
	border: 3px solid #454cad;
	box-shadow: inset 0 0 0 6px #eee;
}

.uploader label.hover #start i.fa {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.3;
}

.uploader #start {
	float: left;
	clear: both;
	width: 100%;
}

.uploader #start.hidden {
	display: none;
}

.uploader #start i.fa {
	font-size: 50px;
	margin-bottom: 1rem;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.uploader #response {
	float: left;
	clear: both;
	width: 100%;
}

.uploader #response.hidden {
	display: none;
}

.uploader #response #messages {
	margin-bottom: .5rem;
}

.uploader #file-image {
	display: inline;
	margin: 0 auto .5rem auto;
	width: auto;
	height: auto;
	max-width: 180px;
}

.uploader #file-image.hidden {
	display: none;
}

.uploader #notimage {
	display: block;
	float: left;
	clear: both;
	width: 100%;
}

.uploader #notimage.hidden {
	display: none;
}

.uploader progress,
.uploader .progress {
	display: inline;
	clear: both;
	margin: 0 auto;
	width: 100%;
	max-width: 180px;
	height: 8px;
	border: 0;
	border-radius: 4px;
	background-color: #eee;
	overflow: hidden;
}

.uploader .progress[value]::-webkit-progress-bar {
	border-radius: 4px;
	background-color: #eee;
}

.uploader .progress[value]::-webkit-progress-value {
	background: -webkit-linear-gradient(left, #393f90 0%, #454cad 50%);
	background: linear-gradient(to right, #393f90 0%, #454cad 50%);
	border-radius: 4px;
}

.uploader .progress[value]::-moz-progress-bar {
	background: linear-gradient(to right, #393f90 0%, #454cad 50%);
	border-radius: 4px;
}

.uploader input[type="file"] {
	display: none;
}

.uploader div {
	margin: 0 0 .5rem 0;
	color: #5f6982;
}

.uploader .btn {
	display: inline-block;
	margin: .5rem .5rem 1rem .5rem;
	clear: both;
	font-family: inherit;
	font-weight: 700;
	font-size: 14px;
	text-decoration: none;
	text-transform: initial;
	border: none;
	border-radius: .2rem;
	outline: none;
	padding: 0 1rem;
	height: 36px;
	line-height: 36px;
	color: #fff;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	box-sizing: border-box;
	background: #454cad;
	border-color: #454cad;
	cursor: pointer;
}

.btn-align-center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.margin-top-150 {
  margin-top: 150px;
}

#user-import-export {
	background-color: #191f2c;
	padding: 0 15px 15px 15px;
}

#user-import-export .uploadfilecontainer {
	background-image: url("assets/images/cloud-upload.png");
	background-repeat: no-repeat;
	background-size: 100px;
	background-position: center;
	height: 200px;
	width: 80%;
	margin: 20px auto;
	border: 2px dashed #e28e07;
	border-radius: 10px;
}

#user-import-export .uploadfilecontainer:hover {
	cursor: pointer;
	background-color: #9ecbec !important;
	opacity: 0.8;
}

#user-import-export .files-list {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 10px auto;
	background: #ffffff;
	border: 1px dashed;
	border-radius: 12px;
	padding: 5px;
	color: #1c8adb;
}

#user-import-export .files-list .delete-file {
	background: transparent;
	border: none;
	cursor: pointer;
}

#user-import-export .files-list .delete-file img {
	width: 30px;
}

#user-import-export .hint {
	text-align: center;
	position: relative;
	top: 155px;
	color: #fff;
	font-size: smaller;
}

#user-import-export .mat-flat-button[disabled][disabled] {
	background-color: rgba(226, 142, 7, 0.59) !important;
	color: rgba(255, 255, 255, 0.26) !important;
}

#user-import-export .mat-card {
	background: #151b27;
	color: rgba(255, 255, 255, 0.87);
	font-family: poppins;
}

#user-import-export .mat-card li {
	font-size: 14px;
	line-height: 2;
}

#user-import-export .mat-card-subtitle {
	color: rgba(228, 228, 228, 0.5411764705882353);
	margin-bottom: 0;
}

#user-import-export .page-title {
	background-color: #151b27;
	color: #fff;
}

@media screen and (max-width: 1920px) and (min-width: 1520px) {
	#user-import-export>.container {
		max-width: 100%;
		padding: 0 40px 40px 40px;
	}
}