.file_box{width: 196px;
    margin: 0 18px;}
.share_btn{margin-left: 69%;}    
 .app_btn{padding: 5px 20px;margin: 5px 10px;} 
 .txt_are{width:94%;margin-left: 21px}    
 .btn_align{margin-left: 56%;}  