.logo{
    background-image: url('assets/images/logo.png');
    width: 250px;
    height: 70px;
    margin: 2px 0;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 1px;
    color: transparent;
    display: block;
}
.logo:hover{
    color: transparent;
}
header.preLogin {
    position: absolute;
    width: 100%;
    z-index: 1;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%);
}
header.preLogin .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.navigations {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.navigations li a {
    display: block;
    padding: .4rem .8rem;
    margin-left: .9rem;
    color: #01d8ff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.8rem;
}
.navigations li a:hover {
    color: #fff;
}
.introduction {
    background-image: url('../../assets/images/landing-page.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 13rem;
    padding-bottom: 3.5rem;
}
.introduction .intro-content {
    color: rgb(182, 65, 65);
    text-shadow: 0 0 2px #000;
    border: 1px solid #aca7ca;
}
.intro-content p {
    font-weight: 100;
    line-height: 1.9rem;
    margin: 5%;  
    color: #0c5775;    
}

.intro-content h4{
    font-weight: 100;
    line-height: 1.9rem;
    margin: 5%;  
    color: #0c5775; 
}

.intro-content{
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.4;
}
.feature-briefs h1 .material-icons {
    font-size: 3.5rem;
}
.feature-briefs p {
    padding: 0 15px;
}
footer {
    background-color: #1a2036;
    padding: 30px 0 20px 0;
    color: #fff;
}
footer a {
    color: #fff;
    line-height: 2rem;
}