<header class="preLogin">
	<div class="container">
		<a href="javascript:void(0)" class="logo">
			virtutor
		</a>
		<ul class="navigations">
			<li>
				<a href="javascript:void(0)">
					Home
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					About us
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					Trainership
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					Contact us
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" [routerLink]="['/account/register']">
					Join as Trainer
				</a>
			</li>
			<li *ngIf="isYakshaTenant">
				<a href="javascript:void(0)" [routerLink]="['/account/self-registration']">
					Self-registration 
				</a>
			</li>
		</ul>
	</div>
</header>
<section class="introduction">
	<div class="container">
		<div class="row">
			<div class="col-6 my-auto">
				<div class="intro-content">
					<h4 class="mb-4">Virtutor Trainership</h4>
					<p>Are you looking to gain 1-on-1 advice, Trainership or guidance on your company culture, customer
						service, or human resources journey? We have a seasoned group of professionals who are ready and
						equipped to help you. Are you looking to gain 1-on-1 advice, Trainership or guidance on your
						company culture, customer service, or human resources journey?</p>
				</div>
				<div style="margin-left: 5%;">
					<a matTooltip="VirTutor chatbot help link" href="https://web.tlgr.org/#/im?p=@virtutor_bot"  target="_blank" style="font-size: 50px;">
						<i class="fa fa-telegram" aria-hidden="true"></i>
					</a>
				</div>
			</div>
			<div class="col-5 offset-1">
				<app-login></app-login>
			</div>
		</div>
	</div>
</section>
<section class="features">
	<div class="container">
		<h1 class="text-center mt-5 mb-5">Our Trainers can help you with....</h1>
		<div class="row feature-briefs">
			<div class="col-4 text-center mb-5">
				<h1 class="mb-3">
					<i class="material-icons col-red">assessment</i>
				</h1>
				<p>
					Develop core values that guide and shape your company and it's culture. Commit to your core values
					and implement them in all aspects of your business.
				</p>
			</div>
			<div class="col-4 text-center mb-5">
				<h1 class="mb-3">
					<i class="material-icons col-green">assignment</i>
				</h1>
				<p>
					Develop core values that guide and shape your company and it's culture. Commit to your core values
					and implement them in all aspects of your business.
				</p>
			</div>
			<div class="col-4 text-center mb-5">
				<h1 class="mb-3">
					<i class="material-icons col-purple">bug_report</i>
				</h1>
				<p>
					Develop core values that guide and shape your company and it's culture. Commit to your core values
					and implement them in all aspects of your business.
				</p>
			</div>
			<div class="col-4 text-center mb-5">
				<h1 class="mb-3">
					<i class="material-icons col-orange">build</i>
				</h1>
				<p>
					Develop core values that guide and shape your company and it's culture. Commit to your core values
					and implement them in all aspects of your business.
				</p>
			</div>
			<div class="col-4 text-center mb-5">
				<h1 class="mb-3">
					<i class="material-icons col-blue">extension</i>
				</h1>
				<p>
					Develop core values that guide and shape your company and it's culture. Commit to your core values
					and implement them in all aspects of your business.
				</p>
			</div>
			<div class="col-4 text-center mb-5">
				<h1 class="mb-3">
					<i class="material-icons">dns</i>
				</h1>
				<p>
					Develop core values that guide and shape your company and it's culture. Commit to your core values
					and implement them in all aspects of your business.
				</p>
			</div>
		</div>
	</div>
</section>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-3">
				<h2 class="mb-3">Quick Links</h2>
				<ul>
					<li>
						<a href="javascript:void(0)">Home</a>
					</li>
					<li>
						<a href="javascript:void(0)">About us</a>
					</li>
					<li>
						<a href="javascript:void(0)">Courses</a>
					</li>
					<li>
						<a href="javascript:void(0)">Learning Paths</a>
					</li>
					<li>
						<a href="javascript:void(0)">For Business</a>
					</li>
					<li>
						<a href="javascript:void(0)">Plans</a>
					</li>
					<li>
						<a href="javascript:void(0)">Blog</a>
					</li>
					<li>
						<a href="javascript:void(0)">News</a>
					</li>
					<li>
						<a href="javascript:void(0)">FAQ</a>
					</li>
				</ul>
			</div>
			<div class="col-3">
				<h2 class="mb-3">Top Courses</h2>
				<ul>
					<li>
						<a href="javascript:void(0)">Adobe Photoshop</a>
					</li>
					<li>
						<a href="javascript:void(0)">HTML & CSS</a>
					</li>
					<li>
						<a href="javascript:void(0)">Javascript</a>
					</li>
					<li>
						<a href="javascript:void(0)">Angular</a>
					</li>
					<li>
						<a href="javascript:void(0)">Node</a>
					</li>
					<li>
						<a href="javascript:void(0)">JAVA</a>
					</li>
					<li>
						<a href="javascript:void(0)">.Net</a>
					</li>
					<li>
						<a href="javascript:void(0)">Data Science</a>
					</li>
					<li>
						<a href="javascript:void(0)">Graphic Design</a>
					</li>
				</ul>
			</div>
			<div class="col-3">
				<h2 class="mb-3">Top Learning Paths</h2>
				<ul>
					<li>
						<a href="javascript:void(0)">Front-End Development</a>
					</li>
					<li>
						<a href="javascript:void(0)">Full-Stack Development</a>
					</li>
					<li>
						<a href="javascript:void(0)">Adobe Creative Cloud</a>
					</li>
					<li>
						<a href="javascript:void(0)">JAVA End-to-End</a>
					</li>
					<li>
						<a href="javascript:void(0)">Creative Design tools</a>
					</li>
					<li>
						<a href="javascript:void(0)">Data Analitics</a>
					</li>
				</ul>
			</div>
			<div class="col-3">
				<h2 class="mb-3">Contact Us</h2>
				<ul>
					<li>
						#15, 4th Floor, Sri Lakshmin Complex, <br>
						Off MG Road, Near SBI LHQ, <br>
						Bangalore, Karnataka - 560001, India
					</li>
					<li class="mt-5">
						<a href="javascript:void(0)">Terms and Conditions</a>
					</li>
					<li>
						<a href="javascript:void(0)">Privacy Policy</a>
					</li>
					<li>
						<a href="javascript:void(0)">Techademy &copy; 2019</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<div class="modal-cover d-none"></div>
<div class="modal-content w-35 d-none">
	<h2 class="text-center">Reset Password</h2>
	<form action="javascript:void(0)" class="login-form" method="POST">
		<div class="row mt-4 mb-4">
			<div class="col-12">
				<mat-form-field>
					<input matInput disabled placeholder="Username">
				</mat-form-field>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col-12">
				<mat-form-field>
					<input matInput [type]="hide ? 'password' : 'text'" placeholder="New Password">
				</mat-form-field>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col-12">
				<mat-form-field>
					<input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirm Password">
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="form-field text-center">
					<button class="btn btn-primary" type="button">Reset</button>
				</div>
			</div>
		</div>
	</form>
</div>