<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p>
                <a href="javascript:void(0)" class="sub-link">Approve All</a>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" class="sub-link">Reject All</a>
            </p>
            <table class="table">
                <thead class="col-blue">
                    <tr>
                        <th><mat-checkbox></mat-checkbox>
                        </th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Domain</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>001</td>
                        <td>Jayaraman Thiyyadi</td>
                        <td>jayaraman.thiyyadi@infosys.com</td>
                        <td>HTML & CSS</td>
                        <td class="text-right">
                            <a href="javascript:void(0)" class="col-orange" (click)="viewHide()">
                                <i class="material-icons">find_in_page</i>
                            </a>
                            <a href="javascript:void(0)" class="col-green">
                                <i class="material-icons">done</i>
                            </a>
                            <a href="javascript:void(0)" class="col-red">
                                <i class="material-icons">clear</i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>001</td>
                        <td>Jayaraman Thiyyadi</td>
                        <td>jayaraman.thiyyadi@infosys.com</td>
                        <td>HTML & CSS</td>
                        <td class="text-right">
                            <a href="javascript:void(0)" class="col-orange" (click)="viewHide()">
                                <i class="material-icons">find_in_page</i>
                            </a>
                            <a href="javascript:void(0)" class="col-green">
                                <i class="material-icons">done</i>
                            </a>
                            <a href="javascript:void(0)" class="col-red">
                                <i class="material-icons">clear</i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>001</td>
                        <td>Jayaraman Thiyyadi</td>
                        <td>jayaraman.thiyyadi@infosys.com</td>
                        <td>HTML & CSS</td>
                        <td class="text-right">
                            <a href="javascript:void(0)" class="col-orange" (click)="viewHide()">
                                <i class="material-icons">find_in_page</i>
                            </a>
                            <a href="javascript:void(0)" class="col-green">
                                <i class="material-icons">done</i>
                            </a>
                            <a href="javascript:void(0)" class="col-red">
                                <i class="material-icons">clear</i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>001</td>
                        <td>Jayaraman Thiyyadi</td>
                        <td>jayaraman.thiyyadi@infosys.com</td>
                        <td>HTML & CSS</td>
                        <td class="text-right">
                            <a href="javascript:void(0)" class="col-orange" (click)="viewHide()">
                                <i class="material-icons">find_in_page</i>
                            </a>
                            <a href="javascript:void(0)" class="col-green">
                                <i class="material-icons">done</i>
                            </a>
                            <a href="javascript:void(0)" class="col-red">
                                <i class="material-icons">clear</i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>001</td>
                        <td>Jayaraman Thiyyadi</td>
                        <td>jayaraman.thiyyadi@infosys.com</td>
                        <td>HTML & CSS</td>
                        <td class="text-right">
                            <a href="javascript:void(0)" class="col-orange" (click)="viewHide()">
                                <i class="material-icons">find_in_page</i>
                            </a>
                            <a href="javascript:void(0)" class="col-green">
                                <i class="material-icons">done</i>
                            </a>
                            <a href="javascript:void(0)" class="col-red">
                                <i class="material-icons">clear</i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>001</td>
                        <td>Jayaraman Thiyyadi</td>
                        <td>jayaraman.thiyyadi@infosys.com</td>
                        <td>HTML & CSS</td>
                        <td class="text-right">
                            <a href="javascript:void(0)" class="col-orange" (click)="viewHide()">
                                <i class="material-icons">find_in_page</i>
                            </a>
                            <a href="javascript:void(0)" class="col-green">
                                <i class="material-icons">done</i>
                            </a>
                            <a href="javascript:void(0)" class="col-red">
                                <i class="material-icons">clear</i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>001</td>
                        <td>Jayaraman Thiyyadi</td>
                        <td>jayaraman.thiyyadi@infosys.com</td>
                        <td>HTML & CSS</td>
                        <td class="text-right">
                            <a href="javascript:void(0)" class="col-orange" (click)="viewHide()">
                                <i class="material-icons">find_in_page</i>
                            </a>
                            <a href="javascript:void(0)" class="col-green">
                                <i class="material-icons">done</i>
                            </a>
                            <a href="javascript:void(0)" class="col-red">
                                <i class="material-icons">clear</i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>001</td>
                        <td>Jayaraman Thiyyadi</td>
                        <td>jayaraman.thiyyadi@infosys.com</td>
                        <td>HTML & CSS</td>
                        <td class="text-right">
                            <a href="javascript:void(0)" class="col-orange" (click)="viewHide()">
                                <i class="material-icons">find_in_page</i>
                            </a>
                            <a href="javascript:void(0)" class="col-green">
                                <i class="material-icons">done</i>
                            </a>
                            <a href="javascript:void(0)" class="col-red">
                                <i class="material-icons">clear</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div [ngClass]="profiles ? 'modal-cover' : 'modal-cover d-none'" (click)="viewHide()"></div>
<div [ngClass]="profiles ? 'modal-content w-65' : 'modal-content w-65 d-none'">
    <div class="row">
        <div class="col-4">
            <div class="mentor-pic mb-2"></div>
            <h2>Jayaraman Thiyyadi</h2>
            <p class="mb-3">
                UI Developer <br>
                jayaraman.tj@iiht.co.in <br>
                +91 990 123 2345 <br>
                8 years exp
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
            </p>
        </div>
        <div class="col-8">
            <p class="detail-head" (click)="slideDetail('domain')">
                <i class="material-icons float-right">keyboard_arrow_down</i>
                Domain
            </p>
            <div [ngClass]="slider === 'domain' ? 'details open': 'details'">
                <span>HTML & CSS</span>
                <span>JavaScript</span>
                <span>Angular</span>
                <span>Node</span>
                <span>SaSS</span>
                <span>Gulp</span>
                <span>Web Pack</span>
                <span>jQuery</span>
                <span>Bootstrap</span>
                <span>HTML & CSS</span>
                <span>JavaScript</span>
                <span>Angular</span>
                <span>Node</span>
                <span>SaSS</span>
                <span>Gulp</span>
                <span>Web Pack</span>
                <span>jQuery</span>
                <span>Bootstrap</span>
            </div>
            <p class="detail-head" (click)="slideDetail('skills')">
                <i class="material-icons float-right">keyboard_arrow_down</i>
                Skills
            </p>
            <div [ngClass]="slider === 'skills' ? 'details open': 'details'">
                <span>HTML & CSS</span>
                <span>JavaScript</span>
                <span>Angular</span>
                <span>Node</span>
                <span>SaSS</span>
                <span>Gulp</span>
                <span>Web Pack</span>
                <span>jQuery</span>
                <span>Bootstrap</span>
                <span>HTML & CSS</span>
                <span>JavaScript</span>
                <span>Angular</span>
                <span>Node</span>
                <span>SaSS</span>
                <span>Gulp</span>
                <span>Web Pack</span>
                <span>jQuery</span>
                <span>Bootstrap</span>
            </div>
            <p class="detail-head" (click)="slideDetail('certifications')">
                <i class="material-icons float-right">keyboard_arrow_down</i>
                Certifications
            </p>
            <div [ngClass]="slider === 'certifications' ? 'details open': 'details'">
                <span>HTML & CSS</span>
                <span>JavaScript</span>
                <span>Angular</span>
                <span>Node</span>
                <span>SaSS</span>
                <span>Gulp</span>
                <span>Web Pack</span>
                <span>jQuery</span>
                <span>Bootstrap</span>
                <span>HTML & CSS</span>
                <span>JavaScript</span>
                <span>Angular</span>
                <span>Node</span>
                <span>SaSS</span>
                <span>Gulp</span>
                <span>Web Pack</span>
                <span>jQuery</span>
                <span>Bootstrap</span>
            </div>
            <p class="detail-head" (click)="slideDetail('accredations')">
                <i class="material-icons float-right">keyboard_arrow_down</i>
                Accredations
            </p>
            <div [ngClass]="slider === 'accredations' ? 'details open': 'details'">
                <span>HTML & CSS</span>
                <span>JavaScript</span>
                <span>Angular</span>
                <span>Node</span>
                <span>SaSS</span>
                <span>Gulp</span>
                <span>Web Pack</span>
                <span>jQuery</span>
                <span>Bootstrap</span>
                <span>HTML & CSS</span>
                <span>JavaScript</span>
                <span>Angular</span>
                <span>Node</span>
                <span>SaSS</span>
                <span>Gulp</span>
                <span>Web Pack</span>
                <span>jQuery</span>
                <span>Bootstrap</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-right mt-3 mb-3 my-auto">
            <button class="btn btn_theme mr-3" type="button" (click)="viewHide()">Accept</button>
            <button class="btn btn-secondary" type="button" (click)="viewHide()">Reject</button>
        </div>
    </div>
</div>