<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="content-block">
                <div class="content-header">
                    <h2 class="col-blue">Today`s Sessions</h2>
                </div>
                <div class="content-body">
                    <ul>
                        <li>
                            <div class="float-left">
                                HTML and CSS session with <a href="javascript:void(0)">Jayaraman Thiyyadi</a> <br>
                                <small>10:00 AM to 11:30 AM <span class="ml-3 col-orange">Starts in 15 mins</span></small>
                            </div>
                            <div class="float-right text-right mt-1">
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-green">play_circle_outline</i>
                                </a>
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-orange">access_time</i>
                                </a>
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-red">remove_circle_outline</i>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="float-left">
                                HTML and CSS session with <a href="javascript:void(0)">Jayaraman Thiyyadi</a> <br>
                                <small>10:00 AM to 11:30 AM</small>
                            </div>
                            <div class="float-right text-right mt-1">
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-green">play_circle_outline</i>
                                </a>
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-orange">access_time</i>
                                </a>
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-red">remove_circle_outline</i>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="float-left">
                                HTML and CSS session with <a href="javascript:void(0)">Jayaraman Thiyyadi</a> <br>
                                <small>10:00 AM to 11:30 AM</small>
                            </div>
                            <div class="float-right text-right mt-1">
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-green">play_circle_outline</i>
                                </a>
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-orange">access_time</i>
                                </a>
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-red">remove_circle_outline</i>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="float-left">
                                HTML and CSS session with <a href="javascript:void(0)">Jayaraman Thiyyadi</a> <br>
                                <small>10:00 AM to 11:30 AM</small>
                            </div>
                            <div class="float-right text-right mt-1">
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-green">play_circle_outline</i>
                                </a>
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-orange">access_time</i>
                                </a>
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-red">remove_circle_outline</i>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="float-left">
                                HTML and CSS session with <a href="javascript:void(0)">Jayaraman Thiyyadi</a> <br>
                                <small>10:00 AM to 11:30 AM</small>
                            </div>
                            <div class="float-right text-right mt-1">
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-green">play_circle_outline</i>
                                </a>
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-orange">access_time</i>
                                </a>
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-red">remove_circle_outline</i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="content-block">
                <div class="content-header">
                    <h2 class="col-orange">Upcoming Sessions</h2>
                </div>
                <div class="content-body">
                    <ul>
                        <li>
                            <div class="float-left">
                                HTML and CSS session with <a href="javascript:void(0)">Jayaraman Thiyyadi</a> <br>
                                <small>10:00 AM to 11:30 AM</small>
                            </div>
                            <div class="float-right text-right mt-1">
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-green">play_circle_outline</i>
                                </a>
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-orange">access_time</i>
                                </a>
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-red">remove_circle_outline</i>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="float-left">
                                HTML and CSS session with <a href="javascript:void(0)">Jayaraman Thiyyadi</a> <br>
                                <small>10:00 AM to 11:30 AM</small>
                            </div>
                            <div class="float-right text-right mt-1">
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-green">play_circle_outline</i>
                                </a>
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-orange">access_time</i>
                                </a>
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-red">remove_circle_outline</i>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="float-left">
                                HTML and CSS session with <a href="javascript:void(0)">Jayaraman Thiyyadi</a> <br>
                                <small>10:00 AM to 11:30 AM</small>
                            </div>
                            <div class="float-right text-right mt-1">
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-green">play_circle_outline</i>
                                </a>
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-orange">access_time</i>
                                </a>
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-red">remove_circle_outline</i>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="float-left">
                                HTML and CSS session with <a href="javascript:void(0)">Jayaraman Thiyyadi</a> <br>
                                <small>10:00 AM to 11:30 AM</small>
                            </div>
                            <div class="float-right text-right mt-1">
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-green">play_circle_outline</i>
                                </a>
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-orange">access_time</i>
                                </a>
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-red">remove_circle_outline</i>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="float-left">
                                HTML and CSS session with <a href="javascript:void(0)">Jayaraman Thiyyadi</a> <br>
                                <small>10:00 AM to 11:30 AM</small>
                            </div>
                            <div class="float-right text-right mt-1">
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-green">play_circle_outline</i>
                                </a>
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-orange">access_time</i>
                                </a>
                                <a href="javascript:void(0)" class="ml-2">
                                    <i class="material-icons col-red">remove_circle_outline</i>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center mt-3 mb-3">
                        <button class="btn btn_theme" type="button">
                            Load More
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>