.btn-width{
    padding: 7px 0px !important;
    min-width: 100px !important;
}
.button-margin{
    margin-top: 3rem!important;
}
.btn-top{
    margin-top: -11px;
}
.popup-top{
    border-top: 1px solid #c1c0c0;
    margin-top: 12px;
    padding: 26px 0 0 0;
}
.mat-dialog-container{
    padding: 17px 21px!important;
}