<header class="resetpassword">
  <div class="container">
      <a href="javascript:void(0)" class="logo" [routerLink]="['/account/landing']">
          Virutor
      </a>
  </div>
</header>
<section class="introduction">
  <div class="container text-right">
      
  </div>
</section>
<section class="resetpassword-form mt-4">
  <div class="card" [@routerTransition]>
    <div class="container">
      <form novalidate 
            #registerForm="ngForm" 
            (ngSubmit)="reset(registerForm)">
        <h1 class="mt-5 mb-5">Reset Password</h1>
        <div class="row">
          <div class="col-6 mb-4">
            <mat-form-field>
              <input matInput
                 name="NewPassword"
                 [(ngModel)]="resetPasswordDto.newPassword"
                 placeholder="Enter New Password"
                 type="password"
                 required
                 minlength="8"
                 maxlength="32"/>
                 <mat-error *ngIf="passwordsFormGroup.controls.newPassword.errors">
                  Passwords must be at least 8 characters, contain a lowercase, uppercase, and number
              </mat-error>
          </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6 mb-4">
            <mat-form-field>
              <input matInput
                 name="ConfirmPassword"
                 [(ngModel)]="confirmPassword"
                 placeholder="Confirm Password"
                 [errorStateMatcher]="equalMatcher"
                 type="password"
                 required
                 minlength="8"
                 maxlength="32"/>
                 <mat-error *ngIf="passwordsFormGroup.errors &&
                 passwordsFormGroup.errors.areEqual &&
                 passwordsFormGroup.controls.newPassword.touched
                 ">
                 Passwords do not match
             </mat-error>
          </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center mb-5">
            <div class="form-actions text-center">
              <button mat-flat-button
                      type="submit"
                      class="btn btn-primary"
                      [disabled]="!registerForm.form.valid">
                      Submit
              </button>    
        </div>
        </div>
        </div>
      </form>
    </div>
  </div>
</section>
