<div class="modal-header">
  <h2>Update Password</h2>
</div>
<div class="modal-body">
  <form>
    <div class="row">
      <div class="col-12 mb-3">
        <mat-form-field>
          <input matInput type="password" name="CurrentPassword" 
            placeholder="Current Password" required minlength="2"
            maxlength="32" />
        </mat-form-field>
      </div>
      <div class="col-12 mb-3" formGroupName="passwords">
        <mat-form-field>
          <input matInput type="password" name="NewPassword"
              placeholder="New Password" required minlength="2" maxlength="32" />
          <mat-error>
            Passwords must be at least 8 characters, contain a lowercase, uppercase, and number
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 mb-3" formGroupName="passwords">
        <mat-form-field>
          <input matInput type="password"
              name="RepeatNewPassword" placeholder="Confirm New Password"
              required minlength="2" maxlength="32" />
          <mat-error>
            Passwords do not match
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 text-right">
        <button class="btn btn-primary" type="submit">
          Update Password
        </button>
        <button class="btn btn-secondary ml-2" type="button">
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>